@font-face {
    font-family: 'Italianno', cursive;
    font-family: 'Pinyon Script', cursive;
  }

button {
    background: none;
    border: none;
}
img {
    width: 100%
}

.menuP {
    position: absolute;
    font-family: 'Pinyon Script', cursive;
    font-size: 45px;
    color: #EB0000;
    
    top: 65px;
    left: 1300px;
    padding: 25px;
    margin-left: 10px;
  
    z-index: 1;
    cursor: pointer;
}

.article-HistoryBannerText {
    /* History */

    position: absolute;
    width: 342px;
    height: 188px;
    left: 800px;
    top: 30px;

    font-family: 'Italianno';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 188px;
    /* identical to box height */

    color: #EB0000;

}

.article-HistoryTextTitle {
    /* About Paley Park */

    position: absolute;
    width: 239px;
    height: 40px;
    left: 140px;
    top: 95px;

    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height */

    color: #EB0000;
}


.article-HistoryText1  {
    width: 470px;
    position: absolute;
    height: 600px;
    top: 150px;
    left: 140px;

    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;

    /* Slightly elevated from street level, visitors have the immediate feeling of leaving the city behind. Seventeen honey locust trees form a natural canopy over the site and the park’s walls are draped in flowing, green ivy. Seasonal flowers create an inviting garden feel, far removed from the surrounding desert of concrete and steel. Instead of conventional park benches, there are 20 tables, designed by Eero Saarinen, and 60 modern-style Henry Bertoia chairs. There is also a refreshment stand. Paley Park’s centerpiece is its magnificent 20-foot high “waterwall” which provides not only a background of captivating sight and sound, but also mutes the background noise of the city. The combined effect creates what The New York Times has called “a place of unparalleled serenity.” Paley Park’s centerpiece is its magnificent 20-foot high “waterwall” which provides not only a background of captivating sight and sound, but also mutes the background noise of the city. */

/* position: absolute;
width: 509px;
height: 836px;
left: 149px;
top: 162px; */

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;

    color: #C20000;


}

.article-HistoryText1::-webkit-scrollbar {
    display: none;
}

.historyImg1 {
  position: absolute;
  scale: 25%;
  width: 60%;
  top: -30px;
  left: 600px;

}

.historyImg2 {
    position: absolute;
    scale: 22%;
    width: 60%;
    top: -170px;
    left: 840px;
}

.historyImg3 {
    position: absolute;
    scale: 28%;
    width: 60%;
    top: 40px;
    left: 430px;
}

.historyImg4 {
    position: absolute;
    scale: 40%;
    width: 60%;
    top: 290px;
    left: 760px;
}


.ImgButton1 {
    /* Ellipse 1 */

    box-sizing: border-box;

    position: absolute;
    width: 119px;
    height: 119px;
    left: 960px;
    top: 240px;

    border: 4px solid #EB0000;
    border-radius: 50%;

    z-index: 1;

}

.ImgButton2 {
    /* Ellipse 3 */

    box-sizing: border-box;

    position: absolute;
    width: 78px;
    height: 78px;
    left: 1300px;
    top: 370px;

    border: 4px solid #EB0000;
    border-radius: 50%;
    
    z-index: 1;
}

.ImgButton3 {
    /* Ellipse 2 */

    box-sizing: border-box;

    position: absolute;
    width: 92px;
    height: 92px;
    left: 800px;
    top: 520px;

    border: 4px solid #EB0000;
    border-radius: 50%;

    z-index: 1;
}

.ImgButton4 {
    /* Ellipse 4 */

    box-sizing: border-box;

    position: absolute;
    width: 158px;
    height: 158px;
    left: 1150px;
    top: 560px;

    border: 4px solid #EB0000;

    border-radius: 50%;

    z-index: 1;
}





